@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caprasimo&family=Caveat:wght@400;500&family=Comforter&family=Dancing+Script:wght@500&family=Fasthand&family=Lilita+One&family=Lora:ital@1&display=swap');
* {
font-family: 'Hanalei Fill', cursive;

}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: "D:\myapp\src\components\inventory image.png";
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  background-position: center;

}
.form-container {
  width: 400px;
  height: 450px;
  background-color: hwb(122 58% 26%);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 5px 100px 0 rgb(7, 7, 7);
}
.form-container:hover{
  box-shadow: 0 2px 6px 0 rgb(7, 7, 7);
  border-radius: 20px;
}
.input-group {
  margin-top: 35px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.link1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.btn2{
  padding: 10px 20px;
  background-color:BLACK;
  color: white;
  border: none;
}
.btn2:hover {
  background-color:  grey;
  color: black;
}
